<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="HomeAuto.HomeAutoClient" behaviorConfiguration="ServiceBehavior">
        <endpoint address="http://localhost/HomeAuto/HomeAutoClient.svc"
                  binding="webHttpBinding"
                  contract="HomeAuto.IHomeAutoClient"
                  behaviorConfiguration="web"
                  xdt:Transform="Replace"
                  xdt:Locator="Condition(@address='http://localhost:1689/HomeAuto/HomeAutoClient.svc')"
              />
      </service>
    </services>
  </system.serviceModel>

</configuration>